*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    display: block;
    position: relative;
    width: 80px;
    height: 40px;
    background-color: gray;
    border-radius: 20px;
    cursor: pointer;
}

label input{
    display: none; 
}

label .button{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: all 0.5s;
}

label input:checked + .button{
    left: 44px;
}

label input:checked + label{
    background-color: green ;
}